body{
    font-family: 'Roboto Mono';
    
    font-size: 2rem;
    overflow: hidden; 
    background-color: #002CCB;
    color: white;
}

.main{
    text-decoration: none;
    color: white;

}

.hits{
    opacity: 0;
}

.hits:hover{
    opacity: 1;
}


.tear2{
    display: inline-block;
    }
    .tear2::after{
        content:"a tear";
    }
    
    .tear2:hover::after{
        font-family:'Dancing Script';
        font-size: 2rem;
        content:"the second tear";
    }

 
    
   