body{
    overflow: visible; 
    background-color: #002CCB;
    color: white;
    font-family: 'Roboto Mono';
    font-size: 2rem;
    line-height: 2rem;
    font-weight: 500;
    display: flex;
    justify-content: center;  
    align-items: center;     
    height: 100vh;            
    margin: 0;
}

.q{
position: relative;
text-align: center;
padding: 5vw;
max-width: 80%;
}


.back{
position: absolute;
text-align: center;
text-decoration: none;
animation:shine 3s ease-in-out infinite;
color: white;
padding: 10px 20px;
font-size: 1.5rem;
top: 80vh;
font-weight: 300;
}

.back:hover{
    transform: scale(1.2);
}

