body{
    width: 100vw; 
  height: 100vh;
  background-color: #002CCB;
  overflow: hidden; 
}


.Q{
    position: absolute;
    width: 964px;
    height: 68px;
    left: calc(50% - 964px/2);
    top: 300px;
    font-family: 'Roboto Mono';
    font-style: normal;
    font-weight: 300;
    font-size: 36px;
    line-height: 48px;
    text-align: center;
    color: #FFFFFF;
    animation: start 1s linear forwards;
}

@keyframes start{
   0%{ opacity:0%;transform: translatey(0);}
   100%{opacity:100%;transform:translatey(-250px);}
}



.W{
    position: absolute;
    width: 964px;
    height: 68px;
    left: calc(50% - 964px/2);
    top: 350px;
    font-family: 'Roboto Mono';
    font-style: normal;
    font-weight: 200;
    font-size: 36.5728px;
    line-height: 48px;
    text-align: center;
    color: #FFFFFF;
}


.E{
    margin-top: 100px;
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 100vh;
    top: 700px; 
}
.link {
    text-decoration: none;
    font-family: 'Oxanium';
    font-style: normal;
    font-weight: 700;
    font-size: 200px;
    line-height: 100px;
    margin-top: 30%;
    color: #FFFFFF; 
  }

.link:hover{
    transform:scale(1.2);
 }


 

 


