body{
    width: 100vw; 
    height: 100vh;
    overflow: hidden; 
    background-color: #ffffff;
}


.q{
position: absolute;
right: 25%;
left: 25%;
top: 45%;
bottom: 25%;
font-family: 'Roboto Mono';
font-style: normal;
font-weight: 400;
font-size: 30px;
line-height: 48px;
text-align: center;
text-decoration: none;

color: #002CCB;
}

.w:hover{
    opacity: 10%;
}

.w:active{
   color:#8ca5ff ;
}





